.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
    background-color: var(--color-bg-light);
}

.logoText {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--color-primary);
    letter-spacing: -1px;
}

.navLinks {
    display: flex;
    gap: 2rem;
}

.link {
    text-decoration: none;
    color: var(--color-text-dark);
    font-weight: 600;
    font-size: 1rem;
    transition: color 0.2s;
}

.link:hover {
    color: var(--color-primary);
}

.loginBtn {
    background-color: var(--color-primary);
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: bold;
}

.loginBtn:hover {
    background-color: #004734;
}

.logoutBtn {
    background-color: transparent;
    color: var(--color-text-dark);
    border: 1px solid var(--color-text-dark);
    padding: 0.8rem 1.5rem;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
}