.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  background-color: #121212;

  width: 100%; 
  box-sizing: border-box;
}

.nav-zone {
  flex: 1; 
  text-align: left;
}

.nav-center {
  text-align: center;
}

.nav-right {
  text-align: right;
}

.nav-link {
  color: #8a8aff;
  text-decoration: none;
  font-size: 1.1rem;
}

.nav-logo {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}